.wrapper{
    // width: 1280px;
    // text-align: center;
    background: silver;
    background-size: cover;
    font-family: "微軟正黑體",serif;
    position: relative;
    header{
        height: 130px;
        background: skyblue;

        .option{
            display: flex;
            list-style: none;
            // background: wheat;
            height: 45px;
            transform: translateY(-10px);
            li{
                width: 20%;
                border: 1px solid gray;
                text-align: center;
                margin:0 10px 0 10px;
                cursor: pointer;
            }
        }
    }
    main{
        height: 1600px;
        background: plum;
        text-align: center; 
        margin: 20px -60px;

        .main1{
            width: 70%;
            background: papayawhip;

            .img_container{

                img{
                    width: 400px;
                }
            }
            .recommend_wrapper{
                width: 100%;
                background: pink;
                height: 200px;
            }
        }
        .main2{
            width: 30%;
            background: slategray;

            .sub_content_wrapper{
                .sub_content{
                    height: 200px;
                    background: aliceblue;
                    margin: 40px 10px;
                }
            }
        }
    }
    footer{
        height: 60px;
        background: ivory;
    }
    .menu{
        position: fixed;
        background: rgba(240, 230, 140, 0.452);
        height: 80px;
        width: 200px;
        right: 0;
    }
}