:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
    --brightness: 1;
    --opacity: 1;
    --contrast: 1;
}



body{
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;

    img{
        width: 500px;
        padding: var(--spacing);
        background: var(--base);
        filter: blur(var(--blur)) 
                brightness(var(--brightness))
                contrast(var(--contrast));
        opacity: var(--opacity);
    }
    
    .hl{
    color: var(--base);
    }

    .controls{
        margin-bottom: 50px;

        input{
            width:100px;
        }
    }

}