/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體";
    background: rgb(77, 77, 77);
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

    #map {
        height: 100%;
        // width: 76%;
    }

    .side-bar{
        position: fixed;
        height: 100%;
        width: 0%;
        background: white;
        z-index: 2;
        top: 0px;
        right: 0px;
        // display: none;
        button{
            width: 30px;
            height: 60px;
            text-align: center;
            align-items: center;
            margin: 0 auto;
            position: relative;
            left: -30px;
        img{
            width: 20px;
            position: absolute;
            top: 20px;
            left: 2.5px;
        }

        }
        .update{
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 30px;
            // color:rgba(179, 224, 241, 0.884);
            // display: none;
        }

    }


