
//header樣式
header{
    max-width: 1600px; //最大寬度
    height: 120px;  //高度
    background:rgb(255, 255, 255);  //背景 rgb:顏色
    position: relative; //位置 absolute按到relative位置移動


    //icon
    .zhipin_icon_wrap{
        display: flex;
        .zhipin_icon{
            width:70px; //寬度
            height: 70px;
            margin: 10px;
        }
        .logo_text{
            text-align: center;
            line-height: 90px;
            font-size: 20px;
            font-weight: 500;
        }
    }



    //主選單
    .header_list_top{
        display: flex; //讓列表並排
        list-style: none; //list取消預設樣式
        font-size: 14px;  //字體大小
        position: absolute; //位置 absolute按到relative位置移動
        top: 0%; //位置 top: 距離relative最高點位置
        right: 2%; //位置 right: 距離relative最右點位置
        li{
            padding:  8px 16px;  //內縮寬度
            a{
                color: black;  //字體顏色
                border: 1px solid black;  //邊框 px:粗細 solid: 實心 顏色
                padding: 4px 10px;  //內縮寬度
            }
            a:hover{ //hover: 滑鼠移上去後之效果
                color: rgb(90, 219, 187); //字體顏色
                text-decoration: none;  //將預設底線拿掉
            }
        }
    }
    .header_list_bot{
        display: flex;  //讓列表並排
        list-style: none;  //list取消預設樣式
        font-size: 14px;  //字體大小
        position: absolute; //位置 absolute按到relative位置移動
        bottom: -10%; //位置 top: 距離relative最高點位置
        right: 2%; //位置 right: 距離relative最右點位置
        li{
            padding:  8px 16px;  //內縮寬度
            a{
                color: black;  //字體顏色
                font-weight: 600;  //字體粗度
            }

            a:hover{ //hover: 滑鼠移上去後之效果
                color: rgb(90, 219, 187);  //字體顏色
                text-decoration: none;  //將預設底線拿掉
            }
        }
    }
    .header_list_bot_1000{
        display: none;
    }
    .menu{
        width: 30px;
        height: 30px;
        display: none;
    }
    @media screen and (max-width: 600px){
        .en{
            font-size: 10px;
        }
        .zhipin_icon_wrap{
            .zhipin_icon{
                width: 100px;
                height: auto;
                display: block;
                margin: auto;
            }
            .logo_text{
                display: none;
            }
        }

        .header_list_top{
            display: none;
        }
        .header_list_bot{
            li{
                display: none;
            }
            .menu{
                display: block;
                position: relative;
            }
            .menu:hover{
                cursor: pointer;
            }
        }
        .header_list_bot_1000{
            z-index: 10;
            background: rgba(110, 110, 110, 0.658);
            width: 180px;
            list-style: none;
            position: absolute;
            right: 0;
            top: 100%;
            font-size: 14px;
            a{
                color: white;
            }
            a:hover{
                color: rgb(90, 219, 187);  //字體顏色
                text-decoration: none;  //將預設底線拿掉
            }
        }

    }
}
.slider{
    max-width: 1600px;  //最大寬度
    height: 600px;  //高度
    background: url(./img/slider2.png) center center; //背景樣式 url(圖片位置) center(左右置中) center(上下置中)
    background-size: cover;
    position: relative; //位置 absolute按到relative位置移動
    .start_your_project{
        width: 300px;  //寬度
        height: 65px;
        text-align: center;  //文字左右置中
        line-height: 35px;
        font-size: 20px;  //字體大小
        background: white; //背景樣式 顏色
        position: absolute; //位置 absolute按到relative位置移動
        padding: 10px 20px; //內縮寬度
        font-weight: bolder;  //字體粗度
        top: calc(50% - 36px); //位置 top: 距離relative最高點位置
        left: calc(50% - 150px); //位置 right: 距離relative最右點位置
        a{
            color: black; //字體顏色
        }
        a:hover{  //hover: 滑鼠移上去後之效果
            text-decoration: none;  //將預設底線拿掉
        }
    }
    .start_your_project:hover{  //hover: 滑鼠移上去後之效果
        cursor: pointer;  //滑鼠樣式 pointer: 手指頭
        transform: scale(1.2); //有hover 移上去之後之效果  transform: 效果 scale: 縮放效果(倍數)
        transition: .5s;  //動畫時間
    }
}
//首頁樣式
.index{
    main{
        //最上面大圖內容
        
        .our_services{
            max-width: 1600px;  //最大寬度
            height: 400px;  //高度
            .our_services_text{
                font-size: 24px;  //字體大小
                text-align: center;  //字體左右置中
                font-weight: bolder;  //字體粗度
                margin-top: 50px;  //對外寬度
            }
            .item_wrap{
                display: flex;  //讓box並排
                .box{
                    width: 25%;  //寬度1/4
                    background: rgb(255,255,255);  //背景 顏色
                    background: linear-gradient(52deg, rgba(255,255,255,1) 0%, rgb(252, 252, 252) 24%, rgb(211, 211, 211) 43%, rgba(255,255,255,1) 74%, rgba(224,224,224,1) 100%);  //背景 漸層
                    height: 250px;  //高度
                    margin: 70px 5px 5px 5px;  //對外寬度
                    text-align: center;  //字體左右置中
                    line-height: 250px;  //字體上下置中(填入此區塊之高度)
                    .box_text{
                        transform: translateY(100px);  //效果 translateY: 向Y軸正向移動
                        font-size: 18px;  //字體大小
                    }
                }
            }
        }
        .step{
            max-width: 1600px;  //最大寬度
            height: 900px;  //高度
            .step_text{
                font-size: 24px;  //字體大小
                text-align: center;  //字體左右置中
                margin:20px 0;  //對外寬度(上 右 下 左   or  上下  左右  or  全部  三種方法)
                font-weight: bolder;  //字體粗度
            }
            .step_img_wrap{
                width: 400px;
                height: 350px;
                display:block;
                margin: 50px auto -50px;
                .step_img{
                    transform: translateX(10%);
                }
                .step_img_STL_file, .step_img_No_file{
                    width: 140px;
                    height: auto;
                    display:block;
                    margin:auto;
                }
                .step_img_3D_printing{
                    width: 230px;
                    height: auto;
                    display:block;
                    margin:auto;
                }
                .step_img_Dispatch{
                    width: 300px;
                    height: auto;
                    display:block;
                    margin:auto;
                }
                .img_text{
                    text-align: center;
                    transform: translateY(50%);
                }
            }

            .file{
                display: flex;
                img{
                    padding-right: 40px; //對內右邊寬度
                }
            }
            .next_step{
                display: flex;
                margin-top: 40px;  //對外上邊寬度
                img{
                    padding-right: 70px;  //對內又邊寬度
                }
            }
        }
        .other_services{
            max-width: 1600px;  //最大寬度
            height: 500px;  //高度
            .other_text{
                font-size: 24px;  //字體大小
                text-align: center;  //字體左右置中
                font-weight: bolder;  //字體粗度
            }
            .other{
                display: flex;
                .other_img_wrap{
                    width: 400px;
                    height: 350px;
                    display:block;
                    margin: 50px auto -50px;
                    .other_img{
                        width: 200px;
                        height: auto;
                        display:block;
                        margin: 50px auto -50px;
                    }
                    .img_text{
                        text-align: center;
                        transform: translateY(200%);
                    }
                    .img_text_vacuum{
                        transform: translateY(180%);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px){
        main{
            .our_services{
                height: 1200px;
                .item_wrap{
                    display: block;
                    .box{
                        width: 100%;
                        margin: 20px 5px 5px 5px;  //對外寬度
                    }
                }
            }
            .step{
                height: 1500px;
                .file{
                    display: block;
                    .step_img_wrap{

                    }
                }
                .next_step{
                    display: block;
                }

            }
            .other_services{
                height: 800px;
                .other{
                    display: block;
                }
            }
        }
    }
}
//商品頁樣式
.item{
    main{
        max-width: 1600px;
        height: 800px;
        margin-top: 40px;
        background: blanchedalmond;
        .list{
            display: flex;
            list-style: none;
            li{
                padding:  8px 16px;  //內縮寬度
                a{
                    color: black;  //字體顏色
                    padding: 4px 10px;  //內縮寬度
                }
                a:hover{ //hover: 滑鼠移上去後之效果
                    color: rgb(90, 219, 187); //字體顏色
                }
            }
        }
    } 
}


//footer樣式
footer{
    max-width: 1600px;  //最大寬度
    height: 400px;  //高度
    background: rgb(223, 230, 237);  //背景樣式 顏色
    color: white;  //字體顏色
    font-size: 22px;  //字體大小
    font-weight: 600;  //字體粗度
    text-align: center;  //字體左右置中
    .logo_img{
        .logo_img_FB{
            width: 15px;
            margin-right: 10px;
        }
        .logo_img_IG, .logo_img_Twitter, .logo_img_Youtube{
            width: 30px;
            margin-right: 10px;
        }
    }
}

