body{
    // background-position: bottom;
    // background-size: cover;
    // background-attachment: fixed;
    // background-image: url(./img/FindJob-bg.png);
    .bg-orange{
        background-color: rgb(255, 127, 35);
    }
    .font-orange{
        color: rgb(255, 127, 35);
    }
    .pointer{
        cursor: pointer;
    }
    .navbar{
        background-color: rgb(237, 237, 237);
        height: 10vh;
        .logo{
            transform: scale(1.5) translate(10vw);
        }
        #navbar10{
            font-size: 25px;
            transform: translate(15vw);
            ul{
                li{
                    #navTitle1:hover, #navTitle2:hover, #navTitle3:hover{
                        color: rgb(255, 127, 35);
                    }
                    #navTitle1, #navTitle2, #navTitle3{
                        color: rgb(20, 20, 20);
                    }
                }
            }

        }

        .user{
            transform: translate(10vw);
        }
    }
    header{
        nav{
            height: 20vh;
            
            .logo{
                width: 15vw;
            }
        }
        .headBar{
            width: 100vw;
            height: 20vh;
            background: rgb(237, 237, 237);
            h1{
                line-height: 20vh;
                transform: scale(1.5) translate(15vw);
                span{
                    color: rgb(255, 127, 35);
                }
            }
            form{
                transform: translate(50vw, 15vh) scale(1.7);
                line-height: 20vh;
                button{
                    height: 40px;
                    background-color: rgb(255, 127, 35);
                    color: white;
                }
            }
        }
        .imgBox{
            img{
                transform: scale();
            }
        }
    }
    .content{
        // background-position: bottom;
        background-size: cover;
        // background-attachment: fixed;
        background-image: url(./img/content-bg.png);
        // background-position: 0vw;
        height: 70vh;
        .suggestions{
            transform: translate(10vw, -5vh);
            height: 50vh;
            // border: 1px solid black;
            width: 40vw;
            // margin-right: 1vw;
            h1{
                color: rgb(255, 127, 35);
                transform: translate(0, 0vh) scale(1);
                cursor: pointer;
                img{
                    height: 3vh;
                    transform: translate(0, -3px);
                }
            }
            .sgContent{
                background-color: rgba(255, 255, 255, 0.85);
                height: 18vh;
                width: 35vw;
                padding: 20px 20px 20px 20px;
                margin-bottom: 2vh;
                border-radius: 15px;
                cursor: pointer;
            }
        }
    }
    footer{
        transform: translate(0, -10vh);
        position: relative;
        .robot{
            position: absolute;
            right: 3vw;
            transform: scale(2);
            cursor: pointer;
        }
        .pagination{
            position: absolute;
            right:15vw;
            top: -5vh;
            cursor: pointer;
        }
    }
}