body{
    // background-position: bottom;
    // background-size: cover;
    // background-attachment: fixed;
    // background-image: url(./img/FindJob-bg.png);
    .bg-orange{
        background-color: rgb(255, 127, 35);
    }
    .font-orange{
        color: rgb(255, 127, 35);
    }
    .pointer{
        cursor: pointer;
    }
    .navbar{
        background-color: rgb(237, 237, 237);
        height: 10vh;
        .logo{
            transform: scale(1.5) translate(10vw);
        }
        #navbar10{
            font-size: 25px;
            transform: translate(15vw);
            ul{
                li{
                    #navTitle1:hover, #navTitle2:hover, #navTitle3:hover{
                        color: rgb(255, 127, 35);
                    }
                    #navTitle1, #navTitle2, #navTitle3{
                        color: rgb(20, 20, 20);
                    }
                }
            }

        }

        .user{
            transform: translate(10vw);
        }
    }
    header{
        nav{
            height: 20vh;
            
            .logo{
                width: 15vw;
            }
        }
        .headBar{
            width: 100vw;
            height: 20vh;
            background: rgb(237, 237, 237);
            h1{
                line-height: 20vh;
                transform: scale(1.8) translate(15vw);
                span{
                    color: rgb(255, 127, 35);
                }
            }
            form{
                transform: translate(50vw, 15vh) scale(1.7);
                line-height: 20vh;
                button{
                    height: 40px;
                    background-color: rgb(255, 127, 35);
                    color: white;
                }
            }
        }
        .imgBox{
            img{
                transform: scale();
            }
        }
    }
    .content{
        // background-position: bottom;
        background-size: cover;
        // background-attachment: fixed;
        background-image: url(./img/myApp-bg.png);
        // background-position: 0vw;
        height: 70vh;
        table{
            width: 60vw;
            transform: translate(20vw, 10vh) scale(1.2);
            // border-bottom: 1px solid black;
            th{
                color: rgb(255, 127, 35);
            }
        }
    }
    footer{
        transform: translate(0, -10vh);
        position: relative;
        img{
            position: absolute;
            right: 3vw;
            transform: scale(2);
            cursor: pointer;
        }
    }
}