body {
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(./img/profile-bg.png);
}

body .bg-orange {
  background-color: #ff7f23;
}

body .font-orange {
  color: #ff7f23;
}

body .pointer {
  cursor: pointer;
}

body .navbar {
  background-color: #ededed;
  height: 10vh;
}

body .navbar .logo {
  -webkit-transform: scale(1.5) translate(10vw);
          transform: scale(1.5) translate(10vw);
}

body .navbar #navbar10 {
  font-size: 25px;
  -webkit-transform: translate(15vw);
          transform: translate(15vw);
}

body .navbar #navbar10 ul li #navTitle1:hover, body .navbar #navbar10 ul li #navTitle2:hover, body .navbar #navbar10 ul li #navTitle3:hover {
  color: #ff7f23;
}

body .navbar #navbar10 ul li #navTitle1, body .navbar #navbar10 ul li #navTitle2, body .navbar #navbar10 ul li #navTitle3 {
  color: #141414;
}

body .navbar .user {
  -webkit-transform: translate(10vw);
          transform: translate(10vw);
}

body header nav {
  height: 20vh;
}

body header nav .logo {
  width: 15vw;
}

body header .headBar {
  width: 100vw;
  height: 20vh;
}

body header .headBar h1 {
  line-height: 20vh;
  -webkit-transform: scale(1.8) translate(13.2vw);
          transform: scale(1.8) translate(13.2vw);
}

body header .headBar h1 span {
  color: #ff7f23;
}

body header .headBar form {
  -webkit-transform: translate(50vw, 15vh) scale(1.7);
          transform: translate(50vw, 15vh) scale(1.7);
  line-height: 20vh;
}

body header .headBar form button {
  height: 40px;
  background-color: #ff7f23;
  color: white;
}

body header .imgBox img {
  -webkit-transform: scale();
          transform: scale();
}

body .content {
  background-size: cover;
  height: 70vh;
  margin-left: 10vw;
}

body .content .upload-container {
  border: 1px black dashed;
  height: 50vh;
  width: 45vw;
  -webkit-transform: translate(10vw);
          transform: translate(10vw);
  text-align: center;
  padding-top: 5vh;
}

body .content .upload-container img {
  margin-bottom: 5vh;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .content .upload-container h3 {
  font-weight: 600;
  margin-bottom: 5vh;
}

body .content .upload-container h3 span {
  text-decoration: underline;
}

body .content .upload-container h5 {
  color: #676767;
}

body .content .upload-container #file-input {
  display: none;
}

body .content .upload-container .preview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5vh;
}

body .content .upload-container .preview-container img {
  max-width: 200px;
  margin: 0 1rem 1rem 0;
}

body .content button {
  width: 6vw;
  height: 5vh;
  border-radius: 30px;
  background-color: rgba(255, 127, 35, 0.33);
  color: white;
  font-weight: bold;
  font-size: 24px;
  border: none;
  -webkit-transform: translate(28vw, 3vh);
          transform: translate(28vw, 3vh);
}

body footer {
  -webkit-transform: translate(0, -10vh);
          transform: translate(0, -10vh);
  position: relative;
}

body footer img {
  position: absolute;
  right: 3vw;
  -webkit-transform: scale(2);
          transform: scale(2);
  cursor: pointer;
}
/*# sourceMappingURL=myResume.css.map */