body{
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./img/profile-bg.png);
    .bg-orange{
        background-color: rgb(255, 127, 35);
    }
    .font-orange{
        color: rgb(255, 127, 35);
    }
    .pointer{
        cursor: pointer;
    }
    .navbar{
        background-color: rgb(237, 237, 237);
        height: 10vh;
        .logo{
            transform: scale(1.5) translate(10vw);
        }
        #navbar10{
            font-size: 25px;
            transform: translate(15vw);
            ul{
                li{
                    #navTitle1:hover, #navTitle2:hover, #navTitle3:hover{
                        color: rgb(255, 127, 35);
                    }
                    #navTitle1, #navTitle2, #navTitle3{
                        color: rgb(20, 20, 20);
                    }
                }
            }

        }

        .user{
            transform: translate(10vw);
        }
    }
    header{
        nav{
            height: 20vh;
            
            .logo{
                width: 15vw;
            }
        }
        .headBar{
            width: 100vw;
            height: 20vh;
            // background: rgb(237, 237, 237);
            h1{
                line-height: 20vh;
                transform: scale(1.8) translate(13.2vw);
                span{
                    color: rgb(255, 127, 35);
                }
            }
            form{
                transform: translate(50vw, 15vh) scale(1.7);
                line-height: 20vh;
                button{
                    height: 40px;
                    background-color: rgb(255, 127, 35);
                    color: white;
                }
            }
        }
        .imgBox{
            img{
                transform: scale();
            }
        }
    }
    .content{
        background-size: cover;
        height: 70vh;
        margin-left: 10vw;

        .upload-container{
            border: 1px black dashed;
            height: 50vh;
            width: 45vw;
            transform: translate(10vw);
            text-align: center;
            padding-top: 5vh;
          
            img{
              margin-bottom: 5vh;
              transform: scale(1.2);
            }
          
            h3{
              font-weight: 600;
              margin-bottom: 5vh;
          
              span{
                text-decoration: underline;
              }
            }
          
            h5{
              color: rgb(103, 103, 103);
            }
          
            #file-input{
              display: none;
            }
          
            .preview-container{
              display: flex;
              flex-wrap: wrap;
              margin-top: 5vh;
          
              img{
                max-width: 200px;
                margin: 0 1rem 1rem 0;
              }
            }
        }
        button{
            width: 6vw;
            height: 5vh;
            border-radius: 30px;
            background-color: rgba(255, 127, 35, 0.33);
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size: 24px;
            border: none;
            transform: translate(28vw, 3vh);
        }
          

    }
    footer{
        transform: translate(0, -10vh);
        position: relative;
        img{
            position: absolute;
            right: 3vw;
            transform: scale(2);
            cursor: pointer;
        }
    }
}