body{
    header{
        nav{
            .logo{
                width: 15vw;
            }
        }
        .headBar{
            width: 100.8vw;
            height: 3vh;
            background: #007bff;
        }
        .imgBox{
            img{
                transform: scale();
            }
        }
    }
    nav{

    }
    footer{

    }
}