body{
    font-family: "微軟正黑體";
/* header */
header{
    // background-color: rosybrown;
    height: 80px;
    img{
        height: 36px;
        margin: 22px 10px;
    }
    .search{
        border: 1px rgb(180, 180, 180) solid;
        border-radius: 5px;
        width: 200px;
        height: 35px;
        margin: 22px 10px;
        .search_content{
            color: rgb(180, 180, 180);
            margin-top: -15px;
            margin-left: 50px;
            img{
                height: 24px;
                margin-right: 5px;
            }
        }

    }
    .header_icon{
        img{
            height: 28px;
            margin: 22px 10px;
            cursor: pointer;
        }
        .header_head{
            border-radius: 50%;
            border: 1px black solid;
        }
    }
}




/* main */
main{
    // background-color: tan;
    min-height: 800px;
    .main_bar{
        // background-color: khaki;
        height: 300px;
        position: relative;
        img{
            border-radius: 50%;
            height: 200px;
            position: absolute;
            top: 50px;
            left: 120px;
        }
        .main_bar_text{
            color: gray;
            position: absolute;
            top: 50px;
            left: 400px;
            .profile_text{
                transform: translate(10px,10px);
            }
            .profile_setting{
                transform: translate(320px,-37px);
                height: 20px;
                cursor: pointer;
            }
            .profile_info{
                font-size: 16px;
            }
            .tw_name{
                font-weight: bold;
            }
        }
    }
    .main_img_container{
        height: 300px;
        margin-bottom: 60px;
        position: relative;
        // border: 1px solid black;
        img{
            height: 320px;
            width: 320px;
            
            object-fit: cover;
            // background: white;
        }
        .main_img_box{
            .main_img_icon{
                // border: black solid 1px;
                position: absolute;
                top: 140px;
                left: 90px;
                .main_sm_img{
                    height: 24px;
                    width: 24px;
                    margin-right: 60px;
                    display: none;
                }
                p{
                    // display: none;
                    color: white;
                    font-weight: bold;
                }
            }
        }

        .main_img_box:hover{
            .main_img{
                opacity: 0.8;
                -webkit-filter:blur(2px);
                -webkit-filter:brightness(0.9);
                cursor: pointer;
            }
            .main_sm_img{
                display: inline;
            }
            .main_sm_img:hover{
                transform: scale(2);
            }
        }

    }
}

/* footer */
footer{
    // background-color: pink;
    height: 180px;
}


}
