body{
    background: url("images/wallpaper.jpg"),rgba(233, 232, 232, 0.418);
    background-size: cover;
    background-attachment: fixed;
    font-family: "微軟正黑體";
    font-weight: 800;
    .container_box{
        margin: 0 40px;
    }

    h1{
        text-align: center;
        margin-top: 20px;
        a{
            color: honeydew;
        }
        a:hover{
            color: hotpink;
        }
    }
    .change{
        color: honeydew;
    }
    .change:hover{
        color: hotpink;
    }
    h2{
        span{
            cursor: pointer;
        }
    }
    .ho_table,table{
        border-radius: 20px;
        box-shadow: gray 10px 10px 16px;
        thead{
            background: none;
            color: white;
            tr{
                border-radius: 20px;
            }
            th:first-child{
                border-radius: 20px 0 0 0;
            }
            th:last-child{
                border-radius: 0 20px 0 0;
            }
            th{
                background: #343a40;
                // border-top: white 1px solid;
            }
        }
        
        tbody tr:hover{
            cursor: pointer;
            background: white;
            // opacity: 80%;
        }
        thead tr:hover{
            background: #454d55;
        }
    }

    // .background-blue{
    //     background: rgba(150, 229, 253, 0.507);
    // }
    #Ho tr td{
        background: rgba(150, 229, 253, 0.699);
    }
    #Ho tr:last-child td:first-child{
        border-radius: 0 0 0 20px;
    }
    #Ho tr:last-child td:last-child{
        border-radius: 0 0 20px 0;
    }
    #Liu tr td{
        background: rgba(250, 200, 208, 0.801);
    }
    #Liu tr:last-child td:first-child{
        border-radius: 0 0 0 20px;
    }
    #Liu tr:last-child td:last-child{
        border-radius: 0 0 20px 0;
    }
    // .background-pink{
    //     background: rgba(250, 200, 208, 0.418);
    // }
    .totalCaloriesStyle{
        color: red;
        background: plum;
    }
    .breakfast, .lunch, .dinner, .snack{
        width: 175px;
        text-align: left;
    }
    .sleep, .fit{
        width: 110px;
    }
    #cardHo .card{
        background: rgba(145, 229, 255, 0.651);
        margin-bottom: 20px;
    }
    #cardLiu .card{
        background: rgba(255, 169, 184, 0.651);
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 600px){
    #cardHo{
        display: none;
    }
    .ho_table{
        display: block;
    }
}
@media screen and (max-width: 600px){
    body{
        background-image: url("https://cdn.shopify.com/s/files/1/1914/7785/products/2829-82065_12829_2048x2048.jpg?v=1563394545");
        background-size: contain;
    }
    #cardHo{
        display: block;
    }
    #cardHo .card{
        box-shadow: grey 6px 6px 6px;
        border-radius: 12px;
    }
    #cardLiu .card{
        box-shadow: grey 6px 6px 6px;
        border-radius: 12px;
    }
    .ho_table{
        display: none;
    }
    .Ho, .Liu, .change{
        font-size: 16px;
    }
    .change{
        transform: translateY(14px);
    }
    h1{
        font-size: 26px;
    }
}
