body{
    font-family: "微軟正黑體";
    margin: 0px auto;
    text-align: right;

    background: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-full-light-watercolor-background-colorblueliterarywatercolorpigmentbackground-image_84591.jpg"), linear-gradient(274deg, rgba(173,255,236,0.6306897759103641) 0%, rgba(232,255,134,0.49343487394957986) 48%, rgba(238,56,99,0.7231267507002801) 100%);
    // background: rgb(173,255,236);
    // background: linear-gradient(274deg, rgba(173,255,236,0.6306897759103641) 0%, rgba(232,255,134,0.49343487394957986) 48%, rgba(238,56,99,0.7231267507002801) 100%);
    background-size: cover;
    h1{
        margin: 20px 0;
    }
    input, button{
        margin: 5px 0;
    }
    // .add{
    //     position: absolute;
    //     right: 80px;
    //     transform: translateY(12%);
    // }
    .border-red{
        border: 2px red solid;
    }

}
.breakfastBox, .lunchBox, .dinnerBox, .snackBox{
    display: flex;
}
@media screen and (max-width: 600px){
    .breakfastBox, .lunchBox, .dinnerBox, .snackBox{
        display: block;
        text-align: left;
    }
}