body{
    font-family: "微軟正黑體";
    margin: 0px auto;
    text-align: right;
    
    h1{
        margin: 20px 0;
    }
    input, button{
        margin: 5px 0;
    }
    // .add{
    //     position: absolute;
    //     right: 80px;
    //     transform: translateY(12%);
    // }
    .border-red{
        border: 2px red solid;
    }
}