body{
    .container_box{
        margin: 0 40px;
    }
    font-family: "微軟正黑體";
    
    h1{
        text-align: center;
        margin-top: 20px;
    }

    h2{
        span{
            cursor: pointer;
        }
    }
    tbody:hover{
        cursor: pointer;

    }
    thead tr:hover{
        background: #454d55;
    }
    .background-blue{
        background: rgba(150, 229, 253, 0.507);
    }
    .background-pink{
        background: rgba(250, 200, 208, 0.418);
    }
    .totalCaloriesStyle{
        color: red;
        background: plum;
    }
    .breakfast, .lunch, .dinner, .snack{
        width: 180px;
        text-align: left;
    }
}