html {
    box-sizing: border-box;
    // background:#ffc600;
    font-family:'微軟正黑體';
    font-size: 20px;
    font-weight: 200;
  }
  body {
    margin: 0;
    background: rgb(167,231,81);
    background: radial-gradient(circle, rgba(167,231,81,0.9023984593837535) 0%, rgba(45,103,69,1) 19%, rgba(20,40,129,0.9023984593837535) 36%, rgba(149,247,215,0.9023984593837535) 66%, rgba(113,150,197,1) 82%, rgba(0,0,128,0.9444152661064426) 97%);
    font-family:'微軟正黑體';
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1 {
    margin-top: 0;
  }

  .site-wrap {
    max-width: 700px;
    margin: 100px auto;
    background:white;
    padding:40px;
    text-align: justify;
  }

  .align-left {
    float:left;
    margin-right:20px;
  }

  .align-right {
    float:right;
    margin-left:20px;
  }

  .slide-in {
    opacity:0;
    transition:all .5s;
  }

  .align-left.slide-in {
    transform:translateX(-30%) scale(0.95);
  }
  .align-right.slide-in {
    transform:translateX(30%) scale(0.95);
  }

  .slide-in.active {
    opacity:1;
    transform:translateX(0%) scale(1);
  }